// breakpoints
$xxs: "0em";
$xs: "20em";
$sm: "30em";
$md: "48em";
$lg: "62em";
$xl: "80em";
$xxl: "96em";

// colors
$liteFlixGrayNormal: #242424;
$liteFlixGrayTransparent: rgba(101, 101, 101, 0.672);
$aqua: "#64EEBC",