@import "../../sass-utils/index";

@include translateXRightOpacityIn;
@include translateXRightOpacityOut;
@include translateYTopOpacityIn;
@include translateYTopOpacityOut;

.fadeIn {
    animation: translateXRightOpacityIn 1.3s;
}

.fadeOut {
    animation: translateXRightOpacityOut 1.3s;
}

@media (max-width: $md) {
    .fadeIn {
        animation: translateYTopOpacityIn 1.3s;
    }

    .fadeOut {
        animation: translateYTopOpacityOut 1.3s;
    }
}
