@import "../../sass-utils/index";

@include translateXRightOpacityIn;
@include translateXRightOpacityOut;
@include translateYTopOpacityIn;
@include translateYTopOpacityOut;

.fadeIn {
    animation: translateXRightOpacityIn 0.6s;
}

.fadeOut {
    animation: translateXRightOpacityOut 0.6s;
}

@media (max-width: $md) {
    .fadeIn {
        animation: translateYTopOpacityIn 0.6s;
    }

    .fadeOut {
        animation: translateYTopOpacityOut 0.6s;
    }
}
