@import '../sass-utils/index';

@keyframes shrinkIn {
    from {
        background-size: 110%;
        background-position: 55% 15%;
    }

    to {
        background-size: 100%;
        background-position: 50% 10%;
    }
}


@media (min-width: $md) {
    .background {
        animation-name: shrinkIn;
        animation-duration: 6s;
        animation-direction: alternate;
    }
}