@import "../sass-utils/index";

@include shrinkIn;
@include translateXLeftOpacityIn;
@include widthIn;
@include translateXRightOpacityIn;
@include fadeIn;

.slideIn {
    animation: translateXLeftOpacityIn 1.8s;

    @media (max-width: $lg) {
        animation: fadeIn 1.8s;
    }
}

.widthIn {
    @media (min-width: $md) {
        animation: widthIn 2s;
    }
}

.widthInDelayed {
    animation: translateXRightOpacityIn 1.7s;
}

.fadeIn {
    animation: fadeIn 1s;
}

@media (min-width: $md) {
    .background {
        animation: shrinkIn 5s;
    }
}

@media (max-width: $lg) {
    .background {
        mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
        -webkit-mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
    }
}
