@import "../sass-utils/index";

@include slideInFromTop;
@include slideMenuIn;
@include slideMenuOut;
@include slideNavMenuIn;
@include slideNavMenuOut;
@include ringBell;
@include filterBlurIn;
@include filterBlurOut;

// CSSTransition animation classes
.menuEnter {
    animation: slideMenuIn 0.5s;
}

.menuExit {
    animation: slideMenuOut 0.5s;
}

.ringBell {
    animation-name: ringBell;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

.slideNavMenuIn {
    animation-name: slideNavMenuIn;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.slideHeaderIn {
    animation: slideInFromTop 1s;
}

.bgAnimateIn {
    @media (max-width: $lg) {
        animation: filterBlurIn 0.5s;
        backdrop-filter: blur(8px);
        background-color: rgb(0 0 0 / 16%);
        -webkit-backdrop-filter: blur(8px);
        padding-bottom: 15px;
    }
}

.bgAnimateOut {
    @media (max-width: $lg) {
        animation: filterBlurOut 0.5s;
        padding-bottom: 15px;
    }
}