@import "../sass-utils/index";

@include slideMenuIn;
@include slideMenuOut;
@include slideNavMenuIn;
@include slideNavMenuOut;
@include ringBell;

// CSSTransition animation classes
.menuEnter {
    animation: slideMenuIn 0.5s;
}

.menuExit {
    animation: slideMenuOut 0.5s;
}

.ringBell {
    animation-name: ringBell;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

.slideNavMenuIn {
    animation-name: slideNavMenuIn;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: both;
}
