@import "../sass-utils/index";

@include translateYTopOpacityIn;
@include translateYTopOpacityOut;

// CSSTransition animation classes
.modalEnter {
    animation: translateYTopOpacityIn 1s;
    background-color: red;
}

.appearDone {
    animation: translateYTopOpacityIn 1s;
    background-color: red;
}

.modalExit {
    animation: translateYTopOpacityOut 1s;
    background-color: red;
}

.exitActive {
    animation: translateYTopOpacityOut 1s;
    background-color: red;
}

.overlay {
    background-color: $liteFlixGrayTransparent;
    inset: 0px;
    position: absolute;
    z-index: 1000;

    .modal {
        position: absolute;
        background-color: $liteFlixGrayNormal;
        height: 50%;
        width: 50%;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100000;

        span {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
            width: 100%;
        }
    }
}

@media (max-width: $md) {
    .overlay {
        background-color: $liteFlixGrayTransparent;
        inset: 0px;
        position: absolute;
        z-index: 1000;

        .modal {
            height: 100%;
            width: 100%;
        }
    }
}
